<a href="https://colab.research.google.com/github/JoseLobos/conversores/blob/main/Te_damos_la_bienvenida_a_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP( 6.25%), ISR(Según tabla) e imprima el total deducciones 
y sueldo neto. (20%)

In [ ]:
#Calcular las deducciones
sueldo= float(input("Escriba su sueldo:"))
deducciones= [3,6,25,27]

ISSS=(sueldo*deducciones[0])/100
AFP=(sueldo*deducciones[1])/100
ISR=(sueldo*deducciones[2])/100
totaldescuentos= ISSS+AFP+ISR
Total=sueldo-totaldescuentos
print("**Deducciones**")
print("ISSS:",ISSS)
print("AFP:",AFP)
print("ISR:",ISR)
print("**sueldo total**")
print("Sueldo Neto:", Total)

Escriba su sueldo:500
**Deducciones**
ISSS: 15.0
AFP: 30.0
ISR: 125.0
**sueldo total**
Sueldo Neto: 330.0

Calcular el valor a pagar según el número de metros consumidos de agua potable (Ver tabla en la siguiente diapositiva). 
(20%)

In [12]:
metros_consumidos= int( input("ingrese la cantidad de metros consumidos:"))

def mc(a):

  if a<=18: 

    print("El valor a pagar segun los metros consumidos es de: $6.00")

  elif a<=28:

    excesom= float(a-18) 

    m= excesom*0.45

    total=m+6.00

    print("El valor a pagar segun los metros consumidos es de: ", total)

  else:

    exce= float(a-28)

    c= exce*0.65

    total1=c+10.5

    print("El valor a pagar los metros consumidos es de:", total1)



print(mc(metros_consumidos))

ingrese la cantidad de metros consumidos:30
El valor a pagar los metros consumidos es de: 11.8
None

Conversores: (40%) (10 ítems como mínimo por cada uno)

Conversor de Monedas

In [ ]:
menu = ["Seleccione una divisa", "Dolares", 
           "Quetzalez", "Lempiras", "Cordobas", 
           "Pesos CR", "Euros", "Colon SV", 
           "Yenes", "Soles Peruanos","Dolar Canadiense"
]
valores = [0,1, 7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84,1.30]
def convertir(de, a, cantidad):
  return valores [a] / valores [de] * cantidad

print("*** MENU ***")
print("SELECCIONE UNA OPCION")
print("1. Dolares")
print("2. Quetzalez")
print("3. Lempiras")
print("4. Cordobas")
print("5. Pesos CR")
print("6. Euros")
print("7. Colon SV")
print("8. Yenes")
print("9. Soles Peruanos")
print("10. Dolar Canadiense10")

de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( menu[de],  " a ", menu[a], " La conversion es: ", convertir(de, a, cantidad) )

*** MENU ***
SELECCIONE UNA OPCION
1. Dolares
2. Quetzalez
3. Lempiras
4. Cordobas
5. Pesos CR
6. Euros
7. Colon SV
8. Yenes
9. Soles Peruanos
10. Dolar Canadiense10
DE: 1
A: 2
Cantidad: 1
Dolares  a  Quetzalez  La conversion es:  7.71

Conversor de Longitud

In [ ]:
menu = ["Seleccione una divisa", "metro", 
           "kilometro", "centimetros", "milimetro", 
           "yarda", "pie", "pulgadas", 
           "milla", "Milla nautica", 'nanometro',
]
valores = [0,1, 0.001, 100, 1000, 1.09361, 3.28084, 39.3701, 0.000621371,0.000539957,1e+9 ]
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad
  print("*** MENU ***")
print("SELECCIONE UNA OPCION")
print("1. metro")
print("2. Kilometro")
print("3. centimetros")
print("4. Milimetro")
print("5. Yarda")
print("6. Pie")
print("7. pulgada")
print("8. Milla")
print("9. Milla nautica")
print("10. Nanometro")

a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( menu[a],  " a ", menu[de], " La conversion es: ", convertir(de, a, cantidad) )

SELECCIONE UNA OPCION
1. metro
2. Kilometro
3. centimetros
4. Milimetro
5. Yarda
6. Pie
7. pulgada
8. Milla
9. Milla nautica
10. Nanometro
DE: 1
A: 2
Cantidad: 10
metro  a  kilometro  La conversion es:  0.01

Convertidor de Masa

In [ ]:
menu = ["Seleccione una divisa", "Tonelada", 
           "Kilogramo", "Gramo", "Miligramo", 
           "Microgramo", "Tonelada larga", "Tonela corta", 
           "Stone", "Libra", 'Onza',

]
valores = [0,1, 1000, 1e+6, 1e+9, 1e+12, 0.984207, 1.10231, 157.473, 2204.62, 35274 ]
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad
  print("*** MENU ***")
print("SELECCIONE UNA OPCION")
print("1. Tonelada")
print("2. Kilogramo")
print("3. Gramo")
print("4. Miligramo")
print("5. Micrograma")
print("6. Tonelada larga")
print("7. Tonelada corta")
print("8. Stone")
print("9. Libra")
print("10. Onza")
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))
print( menu[a],  " a ", menu[de], "La conversion es: ", convertir(de, a, cantidad) )

SELECCIONE UNA OPCION
1. Tonelada
2. Kilogramo
3. Gramo
4. Miligramo
5. Micrograma
6. Tonelada larga
7. Tonelada corta
8. Stone
9. Libra
10. Onza
DE: 1
A: 2
Cantidad: 10
Tonelada  a  Kilogramo La conversion es:  10000.0

Conversor de Almacenamiento

In [ ]:
menu = ["Seleccione una divisa", " Terabit", 
           "Mebibit", "Gibibit", "Gigabit", 
           "tebibit", "Petabyte", "Mebibyte", 
           "Megabyte", "Gigabyte", 'Terabyte',
]
valores = [0,1, 953700, 931.3, 1000, 1.1, 8000, 119200, 125000,125,0.125 ]
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad
  print("*** MENU ***")
print("SELECCIONE UNA OPCION")
print("1. Terabit")
print("2. Mebibit")
print("3. Gibibit")
print("4. Gigabit")
print("5. Tebibit")
print("6. Petabyte")
print("7. Mebibyte")
print("8. Megabyte")
print("9. Gygabyte")
print("10.Terabyte")
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( menu[a],  " a ", menu[de], "La conversion es: ", convertir(de, a, cantidad) )

SELECCIONE UNA OPCION
1. Terabit
2. Mebibit
3. Gibibit
4. Gigabit
5. Tebibit
6. Petabyte
7. Mebibyte
8. Megabyte
9. Gygabyte
10.Terabyte
DE: 1
A: 2
Cantidad: 10
 Terabit  a  Mebibit La conversion es:  9537000.0

Conversor de Tiempo

In [ ]:
menu= ["Seleccione una divisa", " Segundo", 
           "Milisegundo", "Minuto", "Hora", 
           "Dia", "Semana", "Mes", 
           "Año", "Decada", 'Siglo',
]
valores = [0,1, 1000, 0.0166667, 0.000277778,1.1574e-5, 1.6534e-6, 3.8052e-7, 3.171e-8,3.171e-9,3.171e-10 ]
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad
  print("*** MENU ***")
print("SELECCIONE UNA OPCION")
print("1. Segundo")
print("2. Milesegundo")
print("3. Minuto")
print("4. Hora")
print("5. Dia")
print("6. Semana")
print("7. Mes")
print("8. Año")
print("9. Decada")
print("10.Siglo")

a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( menu[a],  " a ",menu[de], "La conversion es: ", convertir(de, a, cantidad) )

SELECCIONE UNA OPCION
1. Segundo
2. Milesegundo
3. Minuto
4. Hora
5. Dia
6. Semana
7. Mes
8. Año
9. Decada
10.Siglo
DE: 1
A: 2
Cantidad: 1
 Segundo  a  Milisegundo La conversion es:  1000.0

Conversor de Volumen

In [ ]:
menu = ["Seleccione una divisa", "Litro", 
           "Mililitro", "Galón", "Cuarto", 
           "Pinta", "Taza", "Onza líquida", 
           "Cucharada", "Cucharadita", 'Pie cúbico',
]
valores = [0,1, 1000, 0.219969, 0.879877, 1.75975, 3.51951, 35.1951, 56.3121, 168.936, 0.0353147 ]
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad
  print("*** MENU ***")
print("SELECCIONE UNA OPCION")
print("1. Litro")
print("2. Mililitro")
print("3. Galón")
print("4. Cuarto")
print("5. Pinta")
print("6. Taza")
print("7. Onza liquida")
print("8. Cucharada")
print("9. Cucharadita")
print("10. Pie cúbico")
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))
print( menu[a],  " a ", menu[de], "La conversion es: ", convertir(de, a, cantidad) )

SELECCIONE UNA OPCION
1. Litro
2. Mililitro
3. Galón
4. Cuarto
5. Pinta
6. Taza
7. Onza liquida
8. Cucharada
9. Cucharadita
10. Pie cúbico
DE: 1
A: 2
Cantidad: 10
Litro  a  Mililitro La conversion es:  10000.0

Convertidor de Area

In [ ]:
menu = ["Seleccione una divisa", "Hectarea", 
           "Kilometro cuadrado", "Metro Cuadrado", "Milla cuadrada", 
           "Yarda cuadrada", "Pie cuadrado", "Pulgada cuadrada", 
           "Acre","Hectometro Cuadrado","Decametro Cuadrado",
]
valores = [0,1, 0.01, 10000, 0.00386102, 11959.9, 107639, 1.55e+7, 2.47105,0.01,0.0001  ]
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad
  print("*** MENU ***")
print("SELECCIONE UNA OPCION")
print("1. Hectarea")
print("2. Kilometro cuadrado")
print("3. Metro cuadrado")
print("4. Milla cuadrada")
print("5. Yarda cuadrada")
print("6. Pie cuadrado")
print("7. Pulgada cuadrada")
print("8. Acre")
print("9. Hectometro Cuadrado")
print("10. Decametro Cuadrado")

a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))
print( menu[a],  " a ", menu[de], "La conversion es: ", convertir(de, a, cantidad) )

SELECCIONE UNA OPCION
1. Hectarea
2. Kilometro cuadrado
3. Metro cuadrado
4. Milla cuadrada
5. Yarda cuadrada
6. Pie cuadrado
7. Pulgada cuadrada
8. Acre
9. Hectometro Cuadrado
10. Decametro Cuadrado
DE: 1
A: 1
Cantidad: 1
Hectarea  a  Hectarea La conversion es:  1.0